<?xml version="1.0"?>

<launch>
	<arg name="kuka" default="false"/>
	<arg name="haption" default="true"/>
	<arg name="axia" default="false"/>
	<arg name="robotiq" default="false"/>
	<arg name="data_recording" default="false"/>	
		
	<!-- Features -->

	
	<!-- Parameters -->
	<arg name="axia_rate" default="1000"/>
	<arg name="node_start_delay_short" default="5.0" />
	<arg name="node_start_delay_long" default="10.0" />

	<!-- Load config parameters and gui -->
	<node pkg="scripts" type="config_kuka.py" name="config"/>
	<node pkg="scripts" type="kuka_gui.py" name="gui"/>
	
	<!-- Launch coppelia -->		
	<node pkg="launch" type="run_cop_KUKA.sh" name="Coppelia_KUKA_Sim" output="screen"/>
	
	<!-- Run haption -->
	<group if="$(arg haption)">
		<node pkg="launch" type="run_haption.sh" name="Haption_Connection" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_short); $0 $@' "/>
		<node pkg="scripts" type="jpos_delay.py" name="Jpos_Cmd_Delay" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_short); $0 $@' "/>	
	</group>

	<!-- Robotiq -->	
	<group if="$(arg robotiq)">
		<node pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" name="Robotiq_Connection" args="/dev/ttyUSB0"/>
		<node pkg="robotiq_2f_gripper_control" type="gripper_cmd_pub.py" name="Robotiq_Commander" launch-prefix="bash -c 'sleep $(arg node_start_delay_long); $0 $@' "/>
		<node pkg="robotiq_2f_gripper_control" type="gripper_pos_delay.py" name="Robotiq_Pos_Delay" launch-prefix="bash -c 'sleep $(arg node_start_delay_long); $0 $@' "/>
	</group>
	
	<!-- Axia -->		
	<group if="$(arg axia)">
		<node pkg="netft_utils" type="netft_node" name="Axia_Connection" args="192.168.1.2 --rate $(arg axia_rate)"/>
		<!-- SOMETHING TO ALIGN Delayed FT with synced tool force from copsim... add latency to sim_tool_ft, then add in to ft_delay before adding second delay-->
		<node pkg="scripts" type="ft_delay.py" name="Axia_FT_Delay" launch-prefix="bash -c 'sleep $(arg node_start_delay_short); $0 $@' "/>

	</group>
	<group unless="$(arg axia)">
		<node pkg="scripts" type="sim_ft_delay.py" name="Sim_FT_Delay" launch-prefix="bash -c 'sleep $(arg node_start_delay_short); $0 $@' "/>
	</group>	
	
	<!-- Kuka -->
	<group if="$(arg kuka)">
		<node pkg="launch" type="run_iiwaPy3.sh" name="KUKA_Connection" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_long); $0 $@' "/>		
	</group>


</launch>
